/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles */
    color: #3a3a3a;
}

/* Global styles */
body {
    font-family: Oswald, sans-serif;
    color: white;
}

h1 {
    font-family: Bebas Neue, sans-serif;
    color: white;
}

h2 {
    font-family: Bebas Neue, sans-serif;
    color: white;
}

h3 {
    font-family: Oswald, sans-serif;
    color: white;
}

/* Navbar */
#navbar {
    background-color: black;
    font-size: 1.5rem;
}

.navbar-brand {
    font-family: Bebas Neue, sans-serif;
    font-size: 3rem;
    color: white;
}

/* Main content */
main {
    background-color: lightgray;
    /* Make main element take up remaining space to push footer down */
    flex: 1 0 auto;
}

/* Hero section */
#hero-image-1 {
    height: 600px;
    width: 100%;
    background: url("../images/The Anvil Hero Image 1 1920 x 1282px.jpg") no-repeat center top;
    background-size: cover;
    position: relative;
}

#cover-text h2 {
    font-size: 2.75rem;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    background-color: rgba(89, 85, 74, 0.3); /* Semi-transparent background for better readability */
}

#cover-text h3 {
    font-size: 1rem;
    position: absolute;
    top: 40%;
    right: 5%;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks svg {
    font-size: 160%;
    padding: 5%;
    color: black;
}

/* Media queries for responsive design */
/* Adjusted height only for large screens (1024px and up) */
@media (min-width: 1024px) {
    #hero-image-1 {
        height: 960px;
    }
}
/* Adjusted height only for extra-large screens (1920px and up) */
@media (min-width: 1920px) {
    #hero-image-1 {
        height: 1282px;
    }
}
/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

