/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles */
    color: #3a3a3a;
}

/* Global styles */
body {
    font-family: Oswald, sans-serif;
    color: white;
}

h1 {
    font-family: Bebas Neue, sans-serif;
    color: white;
}

h2 {
    font-family: Bebas Neue, sans-serif;
    color: white;
}

h3 {
    font-family: Oswald, sans-serif;
    color: white;
}

hr {
    color: black;
    opacity: 1;
}

/* Navbar */
#navbar {
    background-color: black;
    font-size: 1.5rem;
}

.navbar-brand {
    font-family: Bebas Neue, sans-serif;
    font-size: 3rem;
    color: white;
}

/* Main content */
main {
    background-color: lightgray;
    /* Make main element take up remaining space to push footer down */
    flex: 1 0 auto;
}

/* Hero section */
#hero-image-1 {
    height: 600px;
    width: 100%;
    background: url("../images/The Anvil Hero Image 1 1920 x 1282px.jpg") no-repeat center top;
    background-size: cover;
    position: relative;
}

#cover-text h2 {
    font-size: 2.75rem;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    background-color: rgba(89, 85, 74, 0.3); /* Semi-transparent background for better readability */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-text h3 {
    font-size: 1.25rem;
    position: absolute;
    top: 87.5%;
    right: 1%;
}

/* About section */
.about-header {
    color: black;
    font-size: 40px;
    text-align: center;
    padding-top: 5%;
}

#about-section p {
    color: black;
    text-align: center;
}

/* Testimonials section */
#testimonials-section h2 {
    color: black;
    font-size: 40px;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks svg {
    font-size: 160%;
    padding: 5%;
    color: black;
}

/* Media queries for responsive design */

/* Small screens (576px and up) */
/* Adjusted text size for small screens */
@media (min-width: 576px) {
    #cover-text h3 {
        font-size: 2rem;
        top: 78.5%;
        right: 2.5%;
    }
}
/* Medium screens (768px and up) */
/* Adjusted text size for medium screens */
@media (min-width: 768px) {
    #cover-text h2 {
        font-size: 3.75rem        
    }

    #cover-text h3 {
        font-size: 2rem;
        top: 78.5%;
        right: 2.5%;
    }
}
/* Large screens (992px and up) */
/* Adjusted height only for large screens */
@media (min-width: 992px) {
    #hero-image-1 {
        height: 960px;
    }
/* Adjusted text size for large screens */
    #cover-text h2 {
        font-size: 4.75rem;
    }

    #cover-text h3 {
        font-size: 3rem;
        top: 80%;
    }
}

/* Extra-large screens (1200px and up) */
/* Adjusted height only for extra-large screens */
@media (min-width: 1200px) {
    #hero-image-1 {
        height: 1282px;
    }
/* Adjusted text size for extra-large screens */
    #cover-text h2 {
        font-size: 5.75rem;
    }
    #cover-text h3 {
        font-size: 4rem;
    }
}
/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

