/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

body {
    font-family: Oswald, sans-serif;
}

h1 {
    font-family: Bebas Neue, sans-serif;
}

/* grid visualisation CSS for testing */

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}

